<h2> {{contact.prenom[0]}} {{contact.nom[0]}}</h2>

<form name='editContact' class='form-horizontal'>
    <form-field record='contact' field='prenom' required='true'></form-field>
    <form-field record='contact' field='nom' required='true'></form-field>
    <form-field record='contact' field='{{k}}' ng-repeat='(k,y) in contact | keyFilter: "prenom" | keyFilter: "nom" | keyFilter: "id"'></form-field>

    <new-field record='contact'></new-field>

    <div class='row form-group'>
        <div class='col-sm-offset-2'>
            <button class='btn btn-danger' ng-click='delete()'> Supprimer </button>
        </div>
    </div>
</form>
